{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html | strip}}"><i class="fa-solid fa-backward"></i></a>
    {% else %}
      <a href="#" class="pagination--pager disabled"><i class="fa-solid fa-backward"></i></a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html | strip}}"><i class="fa-solid fa-forward"></i></a>
    {% else %}
      <a href="#" class="pagination--pager disabled"><i class="fa-solid fa-forward"></i></a>
    {% endif %}
  </nav>
{% endif %}
