{% assign locale = include.locale | default: site.locale %}
{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.cookie_consent %}
    {% include cookie-consent.html %}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html locale=locale %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
