---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | replace: '|', '&#124;' | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title -%}
          <h1 id="page-title" class="page__title" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>
          {%- endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
        {% endif %}
          {{ content }}
            <hr/>
          {% if page.issue.pdf %}
          <h3>Full Issue</h3>
          <div class="issue-image-row">
            <div class="issue-image-card">
              <p><a id="full-issue" class tabindex="-1" href="{{ page.issue.pdf }}" target="_blank"><img src="{{ page.issue.masthead }}" style="width: 100%;"></a></p>
              <p>{{ page.issue.date }}</p>
            </div>
          </div>
          {% endif %}
          {% if page.issue.pages != null %}
          <h3>Pages</h3>
            {% for apage in page.issue.pages %}
              {% if forloop.first == true %}
            <div class="issue-image-row">
              {% else %}
                {% assign remainder = forloop.index | modulo: 4 %}
                {% if remainder == 1 %}
            </div>
            <div class="issue-image-row">
                {% endif %}
              {% endif %}
                <div class="issue-image-column">
                  <div id="page-{{ forloop.index }}"class="issue-image-card">
                    <a href="{{ apage.small }}"><img src="{{ apage.thumb }}" style="width: 100%;"></a>
                    <p>Page {{ forloop.index }}<br/><a href="{{ apage.large }}" target="_blank">Full Size</a></p>
                  </div>
                </div>
            {% endfor %}            
            </div>
          <h3>Search Text</h3>
            <div class="wrap-collabsible">
            <input id="collapsible-page-{{ forloop.index }}" class="toggle" type="checkbox">
            <label for="collapsible-page-{{ forloop.index }}" class="lbl-toggle">All words</label>
            <div class="collapsible-content">
              <div class="content-inner">
          {% for apage in page.issue.pages %}
                <h4 id="words-{{ forloop.index}}">Page {{ forloop.index}}</h4>
                {% include {{ apage.text }} %}
                <!-- {% for aline in apage.words %}
                <p>{{ aline }}</p>
                {% endfor %} -->
          {% endfor %}            
              </div>
            </div>
          </div>
          {% endif %}

        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      {% include post_pagination_v2.html %}
      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% include page__date.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}
    </div>

    {% if site.comments.provider and page.comments %}
      {% if jekyll.environment == 'production' %}
        {% include comments.html %}
      {% else %}
        <p>
          Comments are configured with provider: <strong>{{ site.comments.provider }}</strong>,
          but are disabled in non-production environments.
        </p>
      {% endif %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when `related: true` -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    {% include page__related.html posts=site.related_posts %}
  {% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}
  {% elsif page.id and page.related %}
    {% include page__related.html posts=site.posts %}
  {% endif %}
</div>
