/* Float four columns side by side */
.issue-image-column {
  float: left;
  width: 25%;
  padding: 4px;
}

/* Remove extra left and right margins, due to padding */
.issue-image-row {margin: 0 -5px;}

.issue-image-row .page-icon-hover-text {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  border-radius: 0.25em;
  font-size: small;
  white-space: nowrap;
  
  /* Position the tooltip */
  // position: fixed;
  z-index: 1;
  top: 100%;
  left: 100%;
  transition-property: visibility;
  transition-delay: 0s;
}

.issue-image-row:hover .page-icon-hover-text {
  visibility: visible;
  transition-delay: 0.3s;
}

/* Clear floats after the columns */
.issue-image-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .issue-image-column {
    width: 100%;
    display: block;
    // margin-bottom: 20px;
  }
}

/* Style the counter cards */
.issue-image-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.issue-image-card p
{
  margin: 4px;
}